<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 开始 mybatis 自带的日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <environments default="development">
        <environment id="development">
            <!-- 事务管理器，默认使用JDBC的，mybatis委托给JDBC -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据源：POOLED 使用 mybatis 框架自带的连接池 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 1、使用 class 语法则 Mapper 配置文件需要与 Mapper 接口在同一个目录下 -->
        <!-- 2、com.example.mybatis.mapper 目录下可能有很多个 Mapper 文件，那么就对应需要写很多个 mapper 配置 -->
        <mapper class="com.example.mybatis.mapper.UserMapper"/>
        <!-- 3、因此有一种新的解决方案，只需要指定包名即可 -->
        <!-- <package name="com.example.mybatis.mapper"/> -->
    </mappers>
</configuration>